{% extends "navegacion.html" %}

{% block body %}
<div id="main" class="container">
<img src="{{ url_for('static', filename='images/en_construccion.png') }}" alt="En construccion" class="img-responsive center-block" style="display:block !important">
<h1 id="ups" style="font-family: Raleway; color:#537098; font-weight:bold;text-align:center">ME ESTOY ACICALANDO</h1>
<h2 id="msg404" style="font-family: Raleway; color: #829bbc;text-align:center">Vuelve en otro momento, por favor</h2>
</div>
{% endblock %}

